<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/yp/css/error.css" />
    <title>Ошибка #404 - Документ не найден</title>
</head>
<body class="error">
<div class="b_wrapper_page">
    <div class="wide_block m_page_404">
        <div class="inner">
            <a class="e_logo_wrapper" href="{{ path('homepage') }}" title="Женская автошкола «ЯПрава»">
                <img class="e_logo" src="/yp/img/error_logo.png" alt="Женская автошкола «ЯПрава»">
            </a>
            <div class="e_img_404"></div>
            <h2 class="h2">
                <span>Похоже произошла ошибка</span>
                <span>Не волнуйтесь, такое случается с каждым</span>
            </h2>
            <p>
                Если Вы видите эту страницу не в первый раз, сообщите нам по почте:<br>
                <a href="mailto:support@ya-prava.ru">support@ya-prava.ru</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
