{% extends 'AppBundle::admin.html.twig' %}

{% block content %}
<h3>{{ 'admin.index_video'|trans }}</h3>
<hr>

<video poster="/uploads/wysiwyg/index.png" width="500" height="335" controls="controls">
    <source src="/uploads/wysiwyg/index.mp4" type="video/mp4;codecs=avc1.42E01E,mp4a.40.2">
    <source src="/uploads/wysiwyg/index.ogv" type="video/ogg;codecs=theora,vorbis">
    <source src="/uploads/wysiwyg/index.webm" type="video/webm;codecs=vp8,vorbis">
    <object data="/bundles/app/flash/flowplayer.swf" type="application/x-shockwave-flash" width="500" height="335">
        <param name="movie" value="/bundles/app/flash/flowplayer.swf">
        <param name="allowfullscreen" value="true">
        <param name="flashvars" value="config={'clip':{'url':'/uploads/wysiwyg/index.mp4','autoPlay':false,'autoBuffering':true,'scaling':'fit'}}">
    </object>
</video>

{{ form(form) }}
{% endblock content %}
