{% extends 'FOSUserBundle::layout.html.twig' %}

{% block extra_body_class %}footer-up{% endblock extra_body_class %}
{% block extra_wrapper_class %}m_bg_diamond{% endblock extra_wrapper_class %}

{% block fos_user_content %}
<div class="b_text_info b_text_info_clear">
    {{ message|raw }}
</div>
{% endblock fos_user_content %}
