{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
<section class="alert-404">
    <div class="caption"><h1>{{ title }}</h1></div>

    {{ text|raw }}

    <a class="btn-blue-3" href="{{ path('homepage') }}">{{ 'buttons.continue'|trans }}</a>
</section>
{% endblock fos_user_content %}
