{% extends 'AppBundle::layout_new.html.twig' %}

{% block content %}
    <div class="mainContent">
        <div class="alert alert-success">
            Регистрация подтверждена
        </div>
    </div>
{% endblock content %}
