{% spaceless %}
<div class="bg orange"> смс отправлена! <a class="more" href="#">отправить ещё раз</a>
    <div class="form">
        <div class="row">
            <div class="label">Введите код:</div>
            <div class="input">
                <input type="text" value="">
                <span class="submit"><input type="submit" value=""></span>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
