{% extends 'AppBundle::layout_m.html.twig' %}

{% block content %}
<div style="text-align:center">
    <h1>Онлайн оплаты не работают.</h1>
    <a href="{{ path('pay_cancel') }}" class="e_btn e_btn_red">Отмена</a>
</div>

{#
<div class="wrap payment-online">
    <h1>Укажите способ оплаты</h1>
    <div style="float:left;width:50%;text-align:center;font-size:20px">
        <a href="{{ path('pay', { type: 'psb' }) }}">
            <img src="/m/images/payments_psb.png" alt=""><br>
            Кредитная карточка
        </a>
    </div>
    <div style="margin:0 auto;width:50%;text-align:center;font-size:20px">
        <a href="{{ path('pay', { type: 'robokassa' }) }}">
            <img src="/m/images/payments_rk.png" alt=""><br>
            Другие способы оплаты
        </a>
    </div>
</div>
#}
{% endblock content %}
