{% extends 'AppBundle::layout_new.html.twig' %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <strong>{{ 'titles.feedback_teacher'|trans }}</strong>
</nav>

<div class="mainContent">
    <div class="title"><h1>{{ 'titles.feedback_teacher'|trans }}</h1></div>
    <p>Сообщение отправлено!</p>
</div>
{% endblock content %}
